<div ng-app= "example">

  <div class="container">
    <center>

    <div class="welcome" ng-controller="getNow as now">
      <now></now> 
    </div>
    
    <div class="summary" ng-controller="getSummary as summary" >
      <summary></summary>
    </div>  
<!--     
    <div class="words" ng-controller="getWords as words">
      <words> </words> 
    </div> -->
    
    <div class="code" ng-controller="getCode as code">
      <code></code>
    </div>
  
    <div class="fitness" ng-controller="getFitness as fitness">
      <fitness></fitness>
    </div>

    <div class="weather" ng-controller="getWeather as weather">
      <weather></weather>
    </div>
    
    <div>  
      <table>
        <tr>
        <% @trailing.each do |day|  %>
           <td><%= day.day_of.to_s[5..-1] %></td>    
        <% end %>
      </tr>
        <tr>
          <% @trailing.each do |day|  %>
            <td class=<%= day.code_fill(0)%>><%= day.code %></td>  
          <% end %>
        </tr>
        <tr>
          <% @trailing.each do |day|  %>
            <td class=<%= day.fitness_fill(10_000)%>><%= day.fitness %></td>  
          <% end %>
        </tr>
      </table>
    <div>
  
  </center>
  </div>

</div>